<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayyan Developers (PVT) Limited.</title>
    <link rel="stylesheet" href="public/css/style.css">
    <!-- <link rel="stylesheet" href="public/css/slideimages.css"> -->
</head>

<body>
    <div class="video-sec">
        <video autoplay loop muted playsinline preload="auto" class="video"
        src="public/video/456583 Bangkok Thailand 3840X2160.mp4">
        </video>

     

        <nav class="nav-bar">

            <div class="logo">
                <img src="public/img/hand-drawn-construction-company-logo-design.png" alt="">
                <span class="logo-txt">Ayyan Developers</span>
            </div>
            <div class="nav-text">
                <ul>
                    <li><a href="/">Home</a></li>

                    <li class="about-li">
                        <a href="/about">About</a>
                        <span><img class="about-li-icon" src="public/svg/1110971_arrow_down_essential_set_icon.svg"
                                alt="icon">
                        </span>
                        <ul>
                            <li><a href="/about#vision">Vision & Mission</a></li>
                            <li><a href="/about#msg">Message</a></li>
                            <li><a href="/about#team">Team</a></li>
                        </ul>
                    </li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/project">Projects</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>

            <div class="hamburger">
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
            </div>

        </nav>

        <div class="video-sec-content">
            <h4 class="h4">Construction Plans To Reality</h4>
            <p>Each project is of highest importance to us just as it is to our treasured client</p>
            <button class="video-sec-btn"><a href="/contact">Get In Touch</a></button>

        </div>
    </div>

    <div class="main-section">
        <div class="main-sec-text">
            <h2 class="h2">Welcome To Ayyan Developers (PVT) LTD.</h2>
            <div class="line"></div>
            <p class="p1">To become Market Leader of Construction Industry.</p>
            <p class="p2">Ayyan Developers (PVT) Limited was incorporated in 2022. Currently the Company is registered
                with Pakistan Engineering Council (PEC) as a constructor in CA (No Limit) Category.</p>
        </div>
        <div class="main-sec-img">
            <img src="public/img/main-sec-img.jpg" alt="image">
        </div>
    </div>

    <div class="contact-section">
        <div>
            <h2 class="h2">Get In Touch</h2>
        </div>
        <div class="line"></div>
        <div>
            <p class="p1">Come close to reality because we at Ayyan Developers bring your vision to life.</p>
        </div>
        <button class="contact-btn"><a href="/contact">Contact Us</a></button>

    </div>

    <div class="specialization-section">
        <div class="specialization-section-img">
            <img src="public/img/specialization-img-1-pfma9yndotqf6khjzgztpva68stulribkmadzubfa8.jpg" alt="">
        </div>
        <div class="specialization-section-icons">
            <div>
                <h2 class="h2">Our Specialization</h2>
            </div>
            <div class="line"></div>
            <div class="specialization-section-icons-img">
                <div class="icons"><img src="public/icon/drawing.png" alt="Icon"><span>Architecture</span></div>
                <div class="icons"><img src="public/icon/labour-day.png" alt="Icon"><span>Construction</span></div>
                <div class="icons"><img src="public/icon/home_11939302.png" alt="Icon"><span>Real Estate</span></div>
                <div class="icons"><img src="public/icon/living-room.png" alt="Icon"><span>Interior Designing</span>
                </div>
                <div class="icons"><img src="public/icon/procurement.png" alt="Icon"><span>Procurement</span></div>
                <div class="icons"><img src="public/icon/roadwork.png" alt="Icon"><span>Road Works</span></div>
            </div>
        </div>
    </div>

    <div class="intro-sec">
        <div class="intro-sec1 display">
            <div class="logo">
                <img src="public/img/hand-drawn-construction-company-logo-design.png" alt="logo">
                <span class="logo-txt">Ayyan Developers</span>
            </div>
            <div>
                <p class="p2">Ayyan Developers (PVT) Limited was incorporated in 2022. Currently the Company is
                    registered with Pakistan Engineering Council (PEC) as a constructor in CA (No Limit) Category.</p>
            </div>
        </div>
        <div class="intro-sec2 display">
            <div>
                <h3 class="h3 mb">Our Company</h3>
            </div>
            <div><a class="p2" href="/about#vision">Who We Are</a></div>
            <div><a class="p2" href="/about">About Company</a></div>
            <div><a class="p2" href="/services">Services We Provide</a></div>
        </div>
        <div class="intro-sec3 display">
            <div>
                <h3 class="h3 mb">Contact Details</h3>
            </div>
            <div>
                <p class="p2">Bahria Town, Lahore.
                </p>
            </div>

            <div>
                <p class="p2">UAN # 111000666 </p>
            </div>
            <div>
                <p class="p2">info@ayyandevelopers.com.pk</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>Copyright &copy; 2022 Ayyan Developers (PVT) Limited. | All Rights Reserved.</p>
    </footer>

    <!-- <script src="public/js/slideimages.js"></scrip> -->
    <script src="public/js/indexresponsive.js"></script>

</body>

</html>